  
                <!-- Timeline -->
<div role="tabpanel" class="tab-pane active" id="timeline">
  <div class="row">
    <div class="col-md-5">
      <div class="widget">
        <div class="widget-header">
          <h3 class="widget-caption">About</h3>
        </div>
        <div class="widget-body bordered-top bordered-sky">
          <ul class="list-unstyled profile-about margin-none">
            <li class="padding-v-5">
              <div class="row">
                <div class="col-sm-4"><span class="text-muted">Date of Birth</span></div>
                <div class="col-sm-8"><%= @user.dob %></div>
              </div>
            </li>                       
            <li class="padding-v-5">
              <div class="row">
                <div class="col-sm-4"><span class="text-muted">Email</span></div>
                <div class="col-sm-8"><%= current_user.email %></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
     </div>

   </div><!--row div close -->





<!--last  main div close here -->
</div>