<!-- friends -->
<div role="tabpanel" class="tab-pane active" id="messages">
  <div class="row">  
    <% @users.each do |user| %>
      <div class="col-md-3">
        <div class="contact-box center-version">
          <a href="#">
            <h3 class="m-b-xs"><strong><%= user.full_name %></strong></h3>
            <div class="font-bold">Graphics designer</div>
          </a>
          <div class="contact-box-footer">
            <div class="m-t-xs btn-group">
              <% unless current_user.is_friend?(user.id) %>
                <%= link_to "Add Friend", friend_requests_path(friend_id: user.id), method: :post %>
              <% else %>
                <%= link_to "Unfriend", friends_destroy_path(id: user.id)%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- end friends -->