<h2>friends</h2>

<% @friend_requests.each do |friendship| %>
  <% user = friendship #.friend %>
  <div class="col-md-3">
    <div class="contact-box center-version">
      <a href="#">
        <h3 class="m-b-xs"><strong><%= user.first_name %> <%= user.last_name%></strong></h3>
        <div class="font-bold">Graphics designer</div>
      </a>
      <div class="contact-box-footer">
        <div class="m-t-xs btn-group">
          <%= link_to "Add Friends", friendships_path(friend_id: user.id), method: :post %>
        </div>
      </div>
    </div>
  </div>
<% end %>